
[cluster bootcluster]
KEYNAME = mykey
CLUSTER_SIZE = 1
CLUSTER_USER = sgeadmin
CLUSTER_SHELL = bash

# [0] ami-52a0c53b us-east-1 starcluster-base-ubuntu-12.04-x86_64-hvm (HVM-EBS)
# 1307-censi-1204-v1  ami-2ca8d545 = ami-52a0c53b  + new software
# boot2 = ami-f8017d91 =  1307-censi-1204-v1   + updates
NODE_IMAGE_ID = ami-f8017d91 

# instance type for all cluster nodes
# (options: cg1.4xlarge, c1.xlarge, m1.small, c1.medium, m2.xlarge, t1.micro, cc1.4xlarge, m1.medium, cc2.8xlarge, m1.large, m1.xlarge, m2.4xlarge, m2.2xlarge)
NODE_INSTANCE_TYPE = cc2.8xlarge
AVAILABILITY_ZONE = us-east-1b
VOLUMES = 1307-ws-jbds, 1307-boot-homes
PLUGINS = staticip1
PERMISSIONS = http
SPOT_BID = 2.50
# FORCE_SPOT_MASTER=True 

[volume 1307-ws-jbds]
# This volume contains both the datasets as well as the workspace
VOLUME_ID = vol-e14842bb
MOUNT_PATH = /1307-ws-jbds

[volume 1307-boot-homes]
VOLUME_ID = vol-fd4b41a7
MOUNT_PATH = /1307-boot-homes

[permission http]
PROTOCOL = tcp
FROM_PORT = 80
TO_PORT = 80


[plugin staticip1] 
setup_class = elasticip.ElasticIPSetup 
elasticip = 50.16.203.223 
 

# [plugin boot-extra-packages]
# SETUP_CLASS = starcluster.plugins.pkginstaller.PackageInstaller
# PACKAGES = ffmpeg, mplayer, mencoder, libavcodec-extra-53
